<div class="row">
  <div class="small-12 small-centered columns"  id="post-list">

<%= link_to "Home", posts_path %>

  <ol>
    <% @favorites.each do |favorite| %>
    <li>
      <div class="post">
        <div class="thumbnail">
          <% if favorite[:thumbnail] == "" %>
            <%= image_tag("https://people.gnome.org/~tthurman/pics/maemo/raeddit-04/raeddit.png") %>
          <% else %>
            <%= image_tag(favorite[:thumbnail]) %>
          <% end %>
        </div>

        <div class="favorite" id="<%= favorite[:id] %>">
          <%= image_tag("http://i.imgur.com/rWb1i5P.png") %>
        </div>

        <div class="info">
          <%= favorite[:title] %>
          <p><%= link_to favorite[:link], favorite[:link] %></p>
          <p>Comments: <%= favorite[:num_comments] %></p>
          <p class="delete"><%= button_to "Delete", favorite_path(favorite), method: :delete %></p>          </p>          </p>
        </div>
      </div>
    </li>
    <% end %>
  </ol>

  </div>
</div>
