<div class="row">
  <div class="small-12 small-centered columns"  id="post-list">

  <% if user_signed_in? %>
    <h4><%= link_to "Show me my favorites", favorites_path %></h4>
  <% end %>

  <ol>
    <% @posts.each do |post| %>
    <li>
      <div class="post">
        <div class="thumbnail">
          <% if post[:thumbnail] == "" %>
            <%= image_tag("https://people.gnome.org/~tthurman/pics/maemo/raeddit-04/raeddit.png") %>
          <% else %>
            <%= image_tag(post[:thumbnail]) %>
          <% end %>
        </div>

        <div class="favorite" id="<%= post[:id] %>">
          <%= image_tag("http://i.imgur.com/rWb1i5P.png") %>
        </div>

        <div class="info">
          <p class="title"><%= post[:title] %></p>
          <p class="link"><%= link_to post[:link], post[:link] %></p>
          <p class="num_comments">Comments: <span><%= post[:num_comments] %></span></p>


        </div>
      </div>
    </li>
    <% end %>
  </ol>

  </div>
</div>
